[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio / Rider
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Unity generated
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
